.DS_Store
node_modules
dist
src/bak

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Private dates
src/components/Firebase/firebaseConfig.js
src/setup/firebase.js
src/setup/cloudant.js

# Cordova
src-cordova/hooks
src-cordova/node_modules
src-cordova/platforms
src-cordova/plugins
src-cordova/res
src-cordova/www
src-cordova/google-services.json
src-cordova/GoogleService-info.plist

# Cypress
test/cypress/screenshots
test/cypress/videos